.faqArea {
	min-height: 14.4cm;
	margin-left: 0.5cm;
	max-width: 21cm;
}

li {
	margin-top: 0.4cm;
}

.faqErotisi {
	background-color: #FFFFFF;
	font-weight: bold;
	font-size: 100%;
	margin-bottom: 0.4cm;
}

.faqKimeno {
	background-color: #FFFFFF;
	line-height: 150%;
	text-align: justify;
	margin-bottom: 0.4cm;
	vertical-align: top;
	padding-left: 0.2cm;
	padding-right: 0.2cm;
}

.faqTitlos {
	text-decoration: underline;
	margin-bottom: -0.3cm;
}

.faqIconInline {
	background-color: #FFFFFF;
	width: 1em;
	max-height: 0.6cm;
	margin-bottom: -0.1cm;
}

.faqKorifi {
	position: relative;
	margin-top: 0.5cm;
	height: 1ex;
	margin-bottom: 1.0cm;
}

.faqKorifiLeft {
	position: absolute;
	left: 0px;
}

.faqKorifiRight {
	position: absolute;
	right: 0px;
}
