.copyrightArea {
	margin-left: 1.5cm;
	max-width: 21cm;
}

.copyrightTitlos {
	padding-top: 1.0cm;
	background-color: #FFFFFF;
	font-weight: bold;
	font-size: 120%;
	margin-bottom: 0.4cm;
}

.copyrightKimeno {
	background-color: #FFFFFF;
	line-height: 150%;
	text-align: justify;
	margin-bottom: 0.4cm;
	vertical-align: top;
}
