p {
	background-image: none;
	background-color: #FFFFFF;
	padding-left: 0.2cm;
	padding-right: 0.2cm;
}

.mainArea {
	margin-top: 0px;
	margin-bottom: 0px;
	margin-left: 1.5cm;
	max-width: 23.40cm;
	line-height: 150%;
	text-align: justify;
}
