.permesArea {
	margin-left: 1.5cm;
	max-width: 21cm;
	min-height: 14.0cm;
	height: auto;
}

.pros {
	font-weight: bold;
	color: #006600;
}

#permesInput {
	max-height: 11.0cm;
	max-width: 21.0cm;
}
