.prefadorosColumn {
	width: 1px;
}

.prefadoros {
	width: 14.0cm;
	min-width: 14.0cm;
	max-width: 14.0cm;

	height: 13.0cm;
	max-height: 13.0cm;
	min-height: 13.0cm;
}

.prefadorosSteno {
	width: 0px;
	max-width: 0px;
	display: none;
}

.partida {
	width: 13.5cm;
	min-width: 13.5cm;
	max-width: 13.5cm;

	height: 12.6cm;
	max-height: 12.6cm;
	min-height: 12.6cm;

	margin-left: auto;
	margin-right: auto;

	border-style: dotted;
	border-width: 0.13cm;
	border-color: #4D944D;

	background-image: url('../images/partida.jpg');
	background-repeat: repeat;
}

.kafenio {
	font-size: 0.5cm;
	letter-spacing: 0.01cm;
}

.kafenioRebels {
	width: 12.7cm;
	min-width: 12.7cm;
	max-width: 12.7cm;

	margin-left: auto;
	margin-right: auto;

	margin-top: 0.2cm;
}

.kafenioPektis {
	display: inline-block;
	margin-top: 0.2cm;
	margin-right: 0.2cm;
	text-align: center;

	width: 2.8cm;
	min-width: 2.8cm;
	max-width: 2.8cm;

	height: 0.7cm;
	max-height: 0.7cm;
	min-height: 0.7cm;

	border-style: solid;
	border-width: 0.08cm;
	border-color: #4D944D;

	background-color: #8AA886;
}

.kafenioTrapeziInfo {
	display: inline-block;
	margin-top: 0.2cm;
	margin-right: 0.2cm;
	text-align: center;

	width: 2.8cm;
	min-width: 2.8cm;
	max-width: 2.8cm;

	height: 0.7cm;
	max-height: 0.7cm;
	min-height: 0.7cm;

	border-style: dotted;
	border-width: 0.08cm;
	border-color: #8AA886;
}

.kafenioTrapeziLine {
	margin-top: 0.2cm;
	margin-bottom: 0px;

	width: 12.7cm;
	min-width: 12.7cm;
	max-width: 12.7cm;
}

.kafenioTrapezi {
	margin-top: 0.2cm;

	width: 12.7cm;
	min-width: 12.7cm;
	max-width: 12.7cm;

	height: 1.2cm;
	max-height: 1.2cm;
	min-height: 1.2cm;

	margin-left: auto;
	margin-right: auto;

	border-style: dotted;
	border-width: 0.085cm;
	border-color: #4D944D;

	background-image: url('../images/trapezi.jpg');
	background-repeat: repeat;
}

.controlPanelColumn {
	width: 1px;
	vertical-align: top;
	border-style: dotted;
	border-width: 1px;
	border-color: #E0E0D1;
}

.controlPanelIcon {
	width: 0.80cm;
	margin-bottom: 0.35cm;
	cursor: pointer;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.emoticonsColumn {
	width: 1px;
	display: none;
	vertical-align: top;
	border-style: dotted;
	border-width: 1px;
	border-color: #E0E0D1;
}

.emoticonsIcon {
	width: 0.80cm;
	margin-bottom: 0.35cm;
	cursor: pointer;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.pssColumn {
	width: 1px;
	vertical-align: top;
	padding-left: 0.1cm;
}

.pss {
	width: 9.5cm;
	min-width: 9.5cm;
	max-width: 9.5cm;
}

.pssFardi {
	width: 21.5cm;
	min-width: 21.5cm;
	max-width: 21.5cm;
}

.pssHeaderArea {
	font-style: italic;
	height: 0.7cm;
	margin-bottom: 0.04cm;
}

.pssArea {
	margin-bottom: 0.04cm;
	border-style: solid;
	border-width: 1px;
	border-color: #999966;
	overflow-y: auto;
	overflow-x: auto;
	white-space: nowrap;
	background-image: url('../images/pss.jpg');
	background-repeat: repeat;
}

.pssIcon {
	margin-bottom: -0.15cm;
	margin-left: 0.2cm;
	margin-right: 0.2cm;
	width: 0.65cm;
	cursor: pointer;
}

.pssSizing {
	float: right;
	display: inline-block;
}

.pssSizingIcon {
	margin-left: 0.2cm;
	margin-right: 0.2cm;
	width: 0.5cm;
	cursor: pointer;
	background-color: #FFFFFF;
	margin-bottom: -0.2cm;
}

.pssInput {
	font-size: 0.4cm;
}

.prosklisiArea {
	height: 3cm;
	max-height: 3cm;
	overflow-y: auto;
	overflow-x: hidden;
}

.sxesiArea {
	height: 4cm;
	max-height: 4cm;
	font-size: 0.45cm;
	white-space: nowrap;
	overflow-y: auto;
	overflow-x: hidden;
}

.sxesiLine {
	height: 0.8cm;
	max-height: 0.8cm;
}

.sxesiData {
	display: inline-block;
	font-weight: bold;
	color: #003366;
}

.sxesiDiathesimotita {
	height: 0.66cm;
	width: 0.66cm;
	padding-top: 0.07cm;
	margin-right: 0.15cm;
	margin-bottom: -0.2cm;
	opacity: 0.6;
	filter: alpha(opacity=60);
	cursor: default;
}

.sxesiIcon {
	height: 0.7cm;
	width: 0.66cm;
	margin-right: 0.15cm;
	margin-bottom: -0.2cm;
	cursor: pointer;
}

.sxesiFilos {
	color: #006600;
}

.sxesiApoklismenos {
	color: #990000;
}

.sxesiAsxetos {
	color: #333300;
}

.sxesiOffline {
	opacity: 0.6;
	filter: alpha(opacity=60);
}

.sizitisiArea {
	height: 4cm;
	max-height: 4cm;
	overflow-y: auto;
	overflow-x: hidden;
}

.kafedaki {
	border-style: dotted;
	border-width: 2px;
	border-color: #999900;
	padding: 0.2cm;
	font-weight: bold;
	font-style: italic;
	font-size: 0.5cm;
	background-color: #FFFF99;
	color: #333300;
	z-index: 10;
}

.permesArea {
	color: #003366;
	height: 1.1em;
	margin-top: 0px;
	margin-bottom: 0.1cm;
	text-align: right;
	cursor: pointer;
}

.permesData {
	background-color: #FFFF80;
}

.permes0 {
	color: #003366;
	margin-right: 0.2cm;
	font-style: normal;
	margin-right: 1.2cm;
}

.permes1 {
	color: #FF1919;
	margin-right: 0.2cm;
	font-style: italic;
	margin-right: 1.2cm;
}

.permesPektis {
	font-weight: bold;
	margin-right: 0.2cm;
}

.permesPektis0 {
	color: #FF1919;
}

.permesPektis1 {
	color: #003366;
}

.permesDate {
	margin-left: 0.2cm;
	margin-right: 0.2cm;
	font-style: normal;
	font-size: 90%;
	color: #000000;
	opacity: 0.7;
	filter: alpha(opacity=70);
}

.trapoulaParousiasi {
	text-align: center;
}

.trapoulaFilo {
	width: 1.4cm;
}

.monitor {
	color: #B8B894;
	font-weight: bold;
	font-style: italic;
	font-size: 0.8em;
	cursor: default;
	background-color: #FFFFFF;
}

.monitorSinedria {
	margin-left: 0.3em;
	font-size: 90%;
	color: #336600;
	cursor: default;
}

.monitorId {
	font-size: 90%;
	color: #CC9900;
	cursor: default;
}
