.movieMain {
	position: relative;
	width: 10.0cm;
	height: 10.0cm;
}

.movieEpikefalida {
	position: absolute;
	top: 0px
	left: 0px;
	width: 20.0cm;
	height: 1.1cm;
	font-size: 0.6cm;
	padding: 0px 0.2cm 0px 0.2cm;
background-color: teal;
}

.movieEpikefalidaLeft {
	text-align: left;
}

.movieEpikefalidaRight {
	text-align: right;
}

.movieTrapezi {
	position: absolute;
	top: 1.4cm;
	left: 0px;
	width: 20.4cm;
	height: 16.0cm;
background-color: yellow;
}

/*
.tbldbg {
	border-style: solid;
	border-width: 1px;
	border-color: red;
}
*/
