.funchat {
	margin-top: 0.1cm;
	margin-right: 0.1cm;
	float: left;
	width: 2.8cm;
	height: 2.8cm;
	max-width: 2.8cm;
	max-height: 2.8cm;
	border-style: double;
	border-width: 1px;
	border-color: #FF6666;
	padding: 0.2cm;
	cursor: pointer;
}

.funchatSound {
	position: absolute;
	margin-left: 2.4cm;
	width: 0.6cm;
}

.funchatImage {
	max-width: 2.4cm;
	max-height: 2.4cm;
}

.funchatTitle {
	font-size: 60%;
}
